body {
    margin: 0;
    /* background: #050101; */
    /* color: #fff; */
    font-family: 'Noto Sans', sans-serif;
}

@media screen and (aspect-ratio < 1) {
    app- {
	grid-template: 1fr 1fr / 1fr;
    }
}
